.productWrapper {
    border: 1px solid #dee2e6 !important;
}

.productHeader {
    width: 100%;
    height: auto;
    object-fit:contain;
}

.productHeader .productThumbnail {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.ProductBody {
    padding: 1.5rem;
}

.ProductBody h4 {
    font-weight: 400;
    margin-bottom: 12px !important;
    cursor: pointer;
    color: #000;
}
