
.breadcrumbs {
    padding: 1rem;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}

.breadcrumbLink {
    color: #88c8bc;
    padding-right: 7px;
    text-decoration: none;
}

.breadcrumbs span {
    padding-left: 7px;
}